img {
  max-width: 175px;
  height: 125px;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container {
  display: flex;
}

aside {
  min-width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  padding-left: 0;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  nav > ul {
    display: flex;
  }
}
